@media only screen and (min-width: 1440px) {
    body {
        font-family: 'Barlow', sans-serif;
        padding: 10.5rem 6rem;
        background-color: hsl(210, 46%, 95%);
        font-size: 13px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas: "box1 box1 box2 box3" "box4 box5 box5 box3";
        width: 100%;
        max-height: 100%;
        justify-content: center;
        align-content: center;
    }
    .box1 {
        grid-area: box1;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(263, 55%, 52%);
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .box2 {
        grid-area: box2;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(217, 19%, 35%);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box3 {
        grid-area: box3;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem;
    }
    .box4 {
        grid-area: box4;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem;
    }
    .box5 {
        grid-area: box5;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(219, 29%, 14%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem;
    }
    .intro-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .name h5 {
        margin-bottom: 5px;
        color: hsl(210, 46%, 95%);
    }
    .name p {
        margin-top: 0px;
        color: hsl(0, 0%, 81%);
        font-size: 12px;
        opacity: 50%;
    }
    .intro-box img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 1px solid hsl(0, 0%, 81%);
        margin-right: 10px;
    }
    .content h3 {
        color: hsl(210, 46%, 95%);
    }
    .content p {
        color: hsl(0, 0%, 81%);
        font-size: 13px;
        opacity: 70%;
        line-height: 22px;
    }
    .overlay-1 {
        margin-right: 100px;
    }
    .inside-box-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 1.5em;
    }
    .inside-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-family: 'Barlow', sans-serif;
        background-color: hsl(210, 46%, 95%);
        padding: 0.5rem 0rem;
        font-size: 13px;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .container>div {
        margin: 10px;
    }
    .box1 {
        border: 1px solid;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(263, 55%, 52%);
        position: relative;
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 440px;
    }
    .box2 {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(217, 19%, 35%);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box3 {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box4 {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(0, 0%, 100%);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .box5 {
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        background-color: hsl(217, 19%, 35%);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .intro-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .name h5 {
        margin-bottom: 5px;
        color: hsl(210, 46%, 95%);
    }
    .name p {
        margin-top: 0px;
        color: hsl(0, 0%, 81%);
        font-size: 12px;
        opacity: 50%;
    }
    .intro-box img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 1px solid hsl(0, 0%, 81%);
        margin-right: 10px;
    }
    .content h3 {
        color: hsl(210, 46%, 95%);
    }
    .content p {
        color: hsl(0, 0%, 81%);
        font-size: 13px;
        opacity: 70%;
        line-height: 22px;
    }
    .inside-box-overlay {
        position: absolute;
        padding: 1.5rem;
    }
    .overlay-1 {
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
    }
}